<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_tx:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_tx_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_tx" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="JUnit4" module-name="spring_tx" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/com.springsource.com.mchange.v2.c3p0-0.9.1.2.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/com.springsource.org.aopalliance-1.0.0.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/com.springsource.org.apache.commons.logging-1.1.1.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/mysql-connector-java-5.1.28-bin.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-aop-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-aspects-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-beans-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-context-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-core-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-expression-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-jdbc-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-orm-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-tx-3.2.0.RELEASE.jar" />
          <element id="file-copy" path="G:/视屏/JavaEE（19）/Spring3/day35-spring--day03/代码/ee19_spring_day03_web/WebRoot/WEB-INF/lib/spring-web-3.2.0.RELEASE.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_tx/web/Web" />
    </root>
  </artifact>
</component>